// GLOBAL STYLES =============================================
@import "./styles/_colors";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $body-bgcolor;
}

// #region SITE STYLES
#site-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

#site-header {
  background-color: $site-header-bgcolor;
}

#site-title {
  margin: 0;
  padding: 2em 0;
  text-align: center;
  color: $site-header-title-color;
}

#site-main {
}

#site-footer {
  background-color: $site-footer-bgcolor;
}

#site-copyright {
  color: white;
  text-align: center;
  padding: 3em 0;
}
// #endregion

// #region POSTS
#page-landing,
#page-about,
#page-posts {
  padding: 3em;
}
// #endregion
